<% provide(:title, "サービス詳細") %>

<h1>Bookwormは、日頃学んだことや考えたことを気軽にメモして実践しよう！というサービスです。</h1>
<h2>メリット</h2>
<ul>
  <li>自分が今継続にしていることを一覧で見ることができます</li>
  <li>自分が今やりたいことをメモして後で見直すことができます</li>
  <li>やってよかった実践を見ることができます</li>
  <li>他の人が継続している実践を見ることでモチベーションになります</li>
</ul>

<h2>使い方</h2>
<ul>
  <li>勉強になったこと・やってみたいこと・思いついたことなど、何でも投稿フォームに入力します</li>
  <li>画像を追加することも可能です</li>
  <li>参考になったURLを貼ることもできます</li>
  <li>入力した投稿を「実践したい・実践中・身についた」タグを付けて分けることができます</li>
  <li>いいね！と思った投稿にはいいねボタンをつけることができます</li>
</ul>

<h2>開発の背景</h2>
<p>もともと人生を良くしたいという思いがあり読書などをしてインプットをしていたのですが、読書をしても何も残らないので行動もせず、結局人生も良くならないということに悩んでいました。<br>
  そこで、自分が継続している行動・やりたいと思っている行動・やってよかった行動を一覧で見る、そして他の人のそれらも見ることでモチベーションを高め行動を継続でき、人生も少しずつ良くなるのではないかと考えたため、このサービスを作成しました。
</p>