<h1>パスワードリセット</h1>

<p>パスワードリセットのリンクは下記です（２時間のみ有効）↓↓</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>


<p>
  心当たりがない場合は無視してください
</p>