  <%# コントローラー作って@doing=としたい %>
  <% if user.posts.where(action: '実践中').any? %>
  <ul class="feed_list">
    <li><%= render user.posts.where(action: '実践中') %></li>
  </ul>
  <% else %>
  <p>まだ実践中の行動がありません</p>
  <% end %>