<section>
  <% if current_page?(root_path) %>
  <%= render 'shared/user_info', user: current_user %>
  <% else %>
  <%= render 'shared/user_info', user: @user %>
  <% end %>
</section>
<section>
  <%= render 'shared/stats' %>
</section>
<section>
  <%= render 'users/follow_form' if logged_in? %>
</section>