<% provide(:title, 'ユーザー一覧') %>
<%= javascript_pack_tag 'Users/index.js' %>
<h2>元のコードはkeepにある</h2>
<%= content_tag :div, #div id="userIndex", data="{"users":["id":1,...
id: "userIndex",
data: { users: @users }.to_json do %>
<% end %>