<% provide(:title, 'ユーザー一覧') %>
<%= javascript_pack_tag 'Users/index.js' %>
<h2>元のコードはkeepにある</h2>
<%= content_tag :div,
id: "userIndex",
data: { users: @users }.to_json do %>
<% end %>
<div id="spa-user-show"></div>