<% provide(:title, "いいね一覧") %>
<h1><%= @user.name %>さんのいいね一覧</h1>
<div class="col-md-6 mx-auto">
  <% if @likes.any? %>
  <ul class="feed_list">
    <li><%= render @likes %></li>
  </ul>
  <% else %>
  <p>まだいいねしていません</p>
  <% end %>
</div>