<% provide(:title, "いいね一覧") %>
<div class="row">
  <div class="col-md-8 mx-auto">
    <%= render 'users/user_profile' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 mx-auto">
    <h3>いいね一覧</h3>
    <%= render 'users/like_feed' %>
    <%# ↓こっちがベター（どっちにしろファイル消すからどっちでもいいけど） %>
    <%#= render 'users/like_feed', likes: @likes %>
  </div>
</div>