<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-8 mx-auto">
    <%= render 'users/user_profile' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 mx-auto">
    <h3><%= @user.name %>さんの投稿一覧</h3>
    <% if @user.posts.any? %>
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <%= paginate @posts %>
    <% else %>
    <p>まだ何も投稿していません</p>
    <% end %>
  </div>
</div>