<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-8 mx-auto">
    <%= render 'users/user_profile' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 mx-auto">
    <h3><%= @user.name %>さんの投稿一覧</h3>
    <%= render 'users/user_feed', user: @user, posts: @posts %>
  </div>
</div>