<% provide(:title, @user.name) %>
<section class="user_info">
  <% if !current_page?(root_path) %>
  <%= render 'shared/user_info', user: @user %>
  <% elsif current_page?(root_path) %>
  <%= render 'shared/root_user_info', user: current_user %>
  <% end %>
</section>
<section class="user_info">
  <%= render 'shared/stats' %>
</section>
<p>ここに自己紹介文とか表示したい</p>
<hr>
<div class="row">
  <div class="col-8 mx-auto">
    <%= render 'users/user_feed', user: @user, posts: @posts %>
  </div>
</div>