<div class="scroll-list jscroll-doing">
  <ol
    class="posts <%= 'doing-posts' if current_page?(root_path) || current_page?(current_user)|| current_page?(private_posts_path) %>"
    id="doing-posts">
    <%= render posts %>
  </ol>
  <%= paginate posts %>
</div>