<% if posts.any? %>
<%# <div class="scroll-list jscroll"> %>
<div class="scroll-list jscroll-doing">
  <ol class="posts <%= 'doing-posts' if current_page?(root_path) || current_page?(current_user) %>" id="doing-posts">
    <%= render posts %>
  </ol>
  <%= paginate posts %>
</div>
<% else %>
<p>まだありません</p>
<% end %>

<style>
  /* 投稿一覧だけに効かせる（ユーザー一覧はナシ） */
  .pagination {
    display: none;
  }

  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .posts li:not(:last-child) {
    margin-right: 20px;
  }

  .posts li {
    width: 30%;
  }
</style>