<div class="scroll-list jscroll-doing">
  <% if current_page?(root_path) || current_page?(current_user) %>
  <ol class="posts doing-posts" id="doing-posts">
    <% elsif current_page?(private_posts_path) %>
    <ol class="posts doing-private-posts" id="doing-posts">
      <% end %>

      <%= render posts %>
    </ol>
    <%= paginate posts %>
</div>