<% if posts.any? %>
<div class="scroll-list jscroll">
  <ol class="posts">
    <%= render posts %>
  </ol>
  <%= paginate posts %>
</div>
<% else %>
<p>まだありません</p>
<% end %>

<style>
  /* 投稿一覧だけに効かせる（ユーザー一覧はナシ） */
  .pagination {
    display: none;
  }
</style>