<div class="scroll-list jscroll-master">
  <ol
    class="posts <%= 'master-posts' if current_page?(root_path) || current_page?(current_user)|| current_page?(private_posts_path) %>"
    id="master-posts">
    <%= render posts %>
  </ol>
  <%= paginate posts %>
</div>