<div class="scroll-list jscroll-want">
  <ol
    class="posts <%= 'want-posts' if current_page?(root_path) || current_page?(current_user) || current_page?(private_posts_path) %>"
    id="want-posts">
    <%= render posts %>
  </ol>
  <%= paginate posts %>
</div>