<div class="scroll-list jscroll-want">
  <% if current_page?(root_path) || current_page?(current_user) %>
  <ol class="posts want-posts" id="want-posts">
    <% elsif current_page?(private_posts_path) %>
    <ol class="posts want-private-posts" id="want-posts">
      <% end %>
      <%= render posts %>
    </ol>
    <%= paginate posts %>
</div>