<div class="scroll-list jscroll-mine">
  <ol class="posts <%= 'mine-posts' if current_page?(root_path) || current_page?(current_user) %>" id="mine-posts">
    <%= render posts %>
  </ol>
  <%= paginate posts %>
</div>