<div class="scroll-list jscroll-like">
  <ol class="posts <%= 'like-posts' if current_page?(root_path) || current_page?(current_user) %>" id="like-posts">
    <%= render posts %>
  </ol>
  <%= paginate posts %>
</div>