@import "bootstrap";
// @import "~bootstrap/scss/bootstrap"; // Bootstrapを使う予定なら
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// pxは仮
.pc-only {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.sp-only {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

body {
  text-align: center;
}

// ドロワーメニュー
.drawer-hamburger {
  right: 0;
  top: 0;
}

// SP時投稿ボタン
.sp-post-button {
  position: fixed;
  left: 0;
  bottom: 0;

  a {
    border-radius: 50%;

  }
}

section {
  overflow: auto;
}

ul {
  list-style: none;
}

.gravatar {
  border-radius: 50%;
}

.container {
  width: 100%;
  max-width: 2000px; //仮→フッター全体に広がる程度に調整
}

.sidebar {
  height: 100%;
}

.nav {
  li:not(:last-child) {
    margin-right: 20px;
  }
}

textarea {
  resize: vertical;
}

.debug_dump {
  border: 2px solid blue;
}

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// いいね一覧
// .feed_list {
//   display: none;

//   li {
//     overflow: auto;
//     padding: 10px 0;
//     text-align: left;

//     &:not(:first-child):not(:last-child) {
//       border-bottom: 1px solid gray;
//     }
//   }
// }

// user一覧
.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
    text-align: left;
  }
}



// 投稿全体をリンクにする
.card,
.card-tags a {
  position: relative;
}

.card-title a:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// ツールチップ(SP時のみ）
@media (min-width: 768px) {
  .c-tooltip {
    position: relative;
    cursor: pointer;

    &::after {
      opacity: 0;
      position: absolute;
      transition: all 0.2s;
      visibility: hidden;
      background: aliceblue;
      border-radius: 3px;
      /* color: red; */
      content: attr(data-tooltip);
      display: block;
      font-size: 11px;
      font-weight: 600;
      padding: 5px 10px;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

// 投稿詳細ページ コメントスクロール
.comment_scroll {
  height: 800px;
  overflow: auto;
}

/* 投稿中身をホバー時浮かせる */
.card-shadow {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .12), 0 2px 3px 0 rgba(0, 0, 0, .22);
  transition: .3s;

  &:hover {
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, .15), 0 0 5px rgba(0, 0, 0, .1);
    transform: translateY(-4px);
  }
}

// z-indexだけ

// ドロワーメニュー
.drawer-hamburger {
  z-index: 999 !important;
}

.drawer-nav {
  z-index: 998 !important;
}

/* これがないとoverlayの下で背景色指定したものが浮き上がる */
/* 上の.drawer-hamburgerより小さい数字にしないとメニューより上に来てしまう（なので998) */
.drawer-overlay {
  z-index: 997 !important;
}

// フラッシュ
.flash-fixed {
  z-index: 996;
}

// ツールチップ
@media (min-width: 768px) {
  .c-tooltip::after {
    z-index: 110;
  }
}

// いいねつけられるようにする
.like {
  z-index: 100;
}

// 投稿タブをフラッシュと被せない
.sticky-top {
  z-index: 50;
}

// SP時投稿ボタン
.sp-post-button {
  z-index: 999;
}

// ツイッターボタン
.twitter-share-button {
  z-index: 10;
}

// 省略リンク
.truncate_url {
  z-index: 10;
}