@import "bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// pxは仮
.pc-only {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.sp-only {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

body {
  text-align: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

/* フッターをコンテンツ量に限らず下に表示 */
.footer_fixed {
  min-height: 100vh;
  /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;
  /* ←相対位置 */
  padding-bottom: 60px;
  /* ←フッターの高さを指定 */
  box-sizing: border-box;
  /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wrapper {
  display: flex;
}

.main {
  width: 80%;
  padding-top: 20px;
}

aside {
  width: 20%;
  border-right: 2px solid black;
  padding-top: 20px;

  .sidebar {
    position: fixed;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


section {
  overflow: auto;
}

ul {
  list-style: none;
}

.gravatar {
  border-radius: 50%;
}

.container {
  width: 100%;
  max-width: 2000px; //仮→フッター全体に広がる程度に調整
}

.sidebar {
  height: 100%;
}

.nav {
  li:not(:last-child) {
    margin-right: 20px;
  }
}

textarea {
  resize: vertical;
}

.debug_dump {
  border: 2px solid blue;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// いいね一覧
.feed_list {
  li {
    overflow: auto;
    padding: 10px 0;
    text-align: left;

    &:not(:first-child):not(:last-child) {
      border-bottom: 1px solid gray;
    }
  }
}

// user一覧
.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
    text-align: left;
  }
}

.posts {
  li {
    &:first-child {
      border-top: 1px solid gray;
      padding-top: 20px;
    }

    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
  }
}

// 投稿全体をリンクにする
.card,
.card-tags a {
  position: relative;
}

.card-title a:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// いいねつけられるようにする
.like {
  z-index: 100;
}

// 投稿全体をリンクにする

// ハンバーガーメニュー
.burger-parent {
  position: relative;

  .burger-child {
    position: absolute;
    right: 0;
    top: 0;
  }
}

// ツールチップ
.c-tooltip {
  position: relative;
  cursor: pointer;
}

.c-tooltip::after {
  opacity: 0;
  position: absolute;
  transition: all 0.2s;
  visibility: hidden;
  z-index: 11;
  background: aliceblue;
  border-radius: 3px;
  /* color: red; */
  content: attr(data-tooltip);
  display: block;
  font-size: 11px;
  font-weight: 600;
  padding: 5px 10px;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  white-space: nowrap;
}

.c-tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}