@import "bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
  // padding-top: 30px;
}

section {
  overflow: auto;
}

ul {
  list-style: none;
}

.gravatar {
  border-radius: 50%;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.nav {
  li:not(:last-child) {
    margin-right: 20px;
  }
}

textarea {
  resize: vertical;
}

.debug_dump {
  border: 2px solid blue;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// いいね一覧
.feed_list {
  li {
    overflow: auto;
    padding: 10px 0;
    text-align: left;

    &:not(:first-child):not(:last-child) {
      border-bottom: 1px solid gray;
    }
  }
}

// user一覧
.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
    text-align: left;
  }
}

.posts {
  li {
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
  }
}