default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password: <%= ENV['DB_PASSWORD'] %>

development:
  <<: *default
  host: db
  database: portfolio_app_development

test:
  <<: *default
  host: <%= ENV['DB_HOST'] || 'db' %>
  database: portfolio_app_test

production:
  <<: *default

# dockerç”¨
  database: pf_production
  username: <%= ENV['USER_NAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  host: <%= ENV['ENDPOINT'] %>
  socket: /var/lib/mysql/mysql.sock