  <% if @posts.any? %>
  <div class="col-md-8 mx-auto">
    <%# 投稿詳細モーダル表示場所 %>
    <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true"></div>
    <ul class="posts" id="posts">
      <%= render @posts %>
    </ul>
    <%= paginate @posts %>
  </div>
  <% else %>
  <p>投稿が見つかりません</p>
  <% end %>

  <style>
    .posts {
      display: flex;
      flex-wrap: wrap;
      /* justify-content: space-between; */
    }

    .posts li:not(:last-child) {
      margin-right: 20px;
    }

    .posts li {
      width: 30%;
    }
  </style>