<% provide(:title, '投稿詳細') %>
<h1>投稿詳細</h1>
<div class="row">
  <div class="col-md-8 mx-auto">
    <div style="list-style:none;">
      <%= render 'posts/post', post: @post %>
    </div>
    <div>
      <%= render 'comments/comment_form', post: @post, comment: @comment %>
    </div>
    <p>コメント一覧</p>
    <p class="text-start"><%= link_to '戻る', 'javascript:history.back()'%></p>
    <hr>
    <div id="comment_list" class="comment_scroll">
      <%= render 'comments/index', post: @post %>
    </div>
  </div>
</div>