<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%# フラッシュフェードアウト %>
<script>
  $(function () {
    $('.alert-success').delay(4000).fadeOut("slow");
  });
</script>