<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%# フラッシュフェードアウト %>
<script>
  $(function () {
    $('.alert-success').delay(4000).fadeOut("slow");
  });
</script>

<style>
  .flash-fixed {
    position: fixed;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
</style>